name: Build & publish eXo Ubuntu images
on:
  schedule:
    - cron:  '0 20 * * 6' # Every Saturday at 8 PM UTC
  workflow_dispatch:

jobs:
  build-ubuntu-images:
    name: "Build Ubuntu Images"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu 20
          - imageTag: 20
            context: 20.04
          - imageTag: 20.04
            context: 20.04
          # Ubuntu 22
          - imageTag: 22
            context: 22.04
          - imageTag: 22.04
            context: 22.04
          # Ubuntu 24
          - imageTag: 24
            context: 24.04
          - imageTag: 24.04
            context: 24.04
          ### Latest
          - imageTag: latest
            context: 24.04
          ### Rolling
          - imageTag: rolling
            context: rolling
    steps:
      - name: "Build and push Docker images"
        uses: exo-actions/buildDockerImage-action@v1
        with:
          dockerImage: "exoplatform/ubuntu"
          dockerImageTag: ${{ matrix.imageTag }}
          attestImage: true
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}